<launch>
    <!-- start the uwb serial -->
    <node name="uwb_uart_node" pkg="uwb_uart" type="UWB_UART_NODE" output="screen"/>
    <!-- start the uwb distance get node -->
    <node name="uwb_distance_info_get" pkg="uwb_uart" type="uwb_info.py" output="screen"/>
    <!-- start the localization node-->
    <node name="kf_main" pkg="uwb_uart" type="kf_main" output="screen"/>
</launch>
